<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} :: {{ site.tagline }}
    {% else %}
      {{ page.title }} :: {{ site.title }}
    {% endif %}
  </title>

  <!-- Social Metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  {% if post.title %}
    <meta content="{{ post.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if post.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if post.description %}
    <meta content="{{ post.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if post.url %}
    <meta content="{{site.baseurl}}{{ post.url }}" property="og:url">
  {% endif %}
  {% if post.date %}
    <meta content="{{ post.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{site.baseurl}}/about/" property="article:author">
  {% endif %}
  {% if post.img %}
    <meta content="{{ site.baseurl }}/img/{{ post.img }}" property="og:image">
  {% else %}
    <meta content="{{ site.baseurl }}/img/og_image.png" property="og:image">
  {% endif %}

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <script src="{{ site.baseurl }}/js/modernizr.js"></script> 
  <script src="{{ site.baseurl }}/js/jquery-2.1.4.js"></script>


</head>
